[tool.poetry]
name = "pysecstring"
version = "0.1.2"
description = "Python implementation of Window's Securestring forked from aznashwan/py-securestring"
authors = ["Gwang-Jin Kim <gwang.jin.kim.phd@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
