html * {
    font-family: Proxima Nova, serif !important;
}

/* Give the items in documentation a little more breathing room */
dl {
    margin-bottom: 1em;
}

/* Put "Parameters:" above parameters so it doesn't get squished when there is lots of content */
dl.field-list {
    display: block;
}

a {
    color: #2c76cc;
}

a:hover {
    color: #0272d9
}

.container {
    height: 10%;
    border-bottom: 2px solid lightblue;
}

.flexBox {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.headerChild {
    margin: auto 10px;
}

.benchlingLogo {
    height: 40px;
    width: 40px;
}

.contentWrapper {
    margin: 40px auto;
    width: 90%;
    max-width: 1300px;
}

/* Format parameter blocks as we would with `black` to improve readability */
em.sig-param::before {
    content: "\a    ";
    white-space: pre;
}

span.sig-return::before {
    content: "\a";
    white-space: pre;
}